/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/

@font-face {
	font-family: Typewriter Serial;
	src: url(fonts/typewriter_serial-400-normal.woff2) format(woff2),
	url(fonts/typewriter_serial-400-normal.woff) format(woff);
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3 {
	font-family: Typewriter Serial;
}

